.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
  padding: 0px;
  margin: 0px;
}

/*Выравнивание списка меню по центру + его визуалка*/
ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin: 40px 0px 0px 0px;
  padding: 0;
  overflow: hidden;
  background-color: #8595A4;
  border-radius: 30px;
  width: 18%;
  right: 50%;
}
li{
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Inter", "Arial", sans-serif;
}

li a:hover{
  background-color: grey;
}
/*Конец настройки списка*/

a {
  text-decoration: none;
  color: white;
}

/*Начало стартовой страницы*/

.hero {
  text-align: center;
  height: 100%;
  min-width: 1080px;
  width: 100%;
  height: 1080px;
  padding: 0px;
  padding-right: 0;
  padding-left: 0;
  margin: 0px;
  background-image: url(img/airport2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero_href{
  display: flex;
  justify-content: center;
}

.texts {
  margin: 131px 101px 0px 0px;
}


.hero h1{

  color: #FFFFFF ;
  font-family: "Inter", "Arial", sans-serif;   
  font-size: 64px;
  font-weight: 700; 
}

.hero h2{
  color: #FFFFFF ;  
  font-family: "Inter", "Arial", sans-serif;   
  font-size: 64px;
  font-weight: 700; 
}


.hero p{
  color: #FFFFFF ; 
  font-family: "Inter", "Arial", sans-serif;  
  font-size: 40px;
  font-weight: 700;
  margin: 0px 0px 0px 0px;
}


.hero button {  
  border-radius: 30px;
  background-color: #7448D1 ;
  width: 491px;
  height: 97px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin: 200px 0px 0px 0px;
}
/*Конец стартовой страницы*/


/*Начало привественной страницы*/

.welcome {
  text-align: center;
  padding: 50px;
  font-family: "Inter", "Arial", sans-serif;
}

.welcome_content h2{
  font-size: 40px;
  font-weight: 700;
}

.welcome_content p{
  font-size: 35px;
  font-weight: 400;
}
.welcome button{
  font-size: 35px;
  font-weight: 400;
  border-radius: 30px;
  background-color: #7448D1 ;
  width: 491px;
  height: 97px;
  font-family: "Inter", "Arial", sans-serif;
  margin: 100px 0px 0px 0px;
}


.welcome__image {
  display: flex;
  justify-content: space-between;
}

.welcome__image img {
  width: 40%;
}



.reviews {
  text-align: center;
  padding: 50px;
  font-family: "Inter", "Arial", sans-serif;
}

.reviews h2{
  font-size: 74px;
  font-weight: 700;
}
.reviews p{
  font-size: 36px;
  font-weight: 400;
  color: #858585;
}

.review-cards {
  display: flex;
  justify-content: space-between;
}

.review-card {
  width: 30%;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.review-card img {
  width: 87.39px;
  height: 92.74px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.review-card p {
  font-size: 36px;
  font-weight: 400;
  color: black;
}

.reviews button{
  font-size: 35px;
  font-weight: 400;
  border-radius: 30px;
  background-color: #7448D1 ;
  width: 491px;
  height: 97px;
  font-family: "Inter", "Arial", sans-serif;
  margin: 70px;
}


.contact-us {
  text-align: center;
  height: 100%;
  min-width: 1080px;
  width: 100%;
  height: 450px;
  padding: 0px;
  padding-right: 0;
  padding-left: 0;
  margin: 0px;
  background-image: url(img/background_2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  font-family: "Inter", "Arial", sans-serif;
}

.contact-us h2{
  font-size: 36px;
  font-weight: 700;
  color: white;
}

.contact-us p{
  font-size: 24px;
  font-weight: 700;
  color: white;
}


.contact-us button{
  font-size: 35px;
  margin: 20px;
  font-weight: 400;
  border-radius: 30px;
  background-color: #7448D1 ;
  width: 300px;
  height: 100px;
  font-family: "Inter", "Arial", sans-serif;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 250px;
  height: 40px;
  padding: 10px;
  margin: 50px 20px ;
  border-radius: 20px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
}



